{% extends '::base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}

        <FONT size="5pt">
        <div style="text-align:center;">
        Vous êtes sur que vous voulez supprimer un article?
      </div>
        </FONT>

<h3>Formulaire d'annonce</h3>


{# On laisse vide la vue pour l'instant, on la comblera plus tard

   lorsqu'on saura afficher un formulaire. #}

<div class="well">

  Ici se trouvera le formulaire.

</div>

{% endblock %}