
{# src/Blog/Bundle/Resources/views/Article/delete.html.twig #}

{% extends "::base.html.twig" %}


{% block title %}
  Suppression d'annonce - {{ parent() }}
{% endblock %}

{% block body %}
  <div style="width:auto; text-align:center">

  <h2>Suppression d'un article</h2>

  <p>
    Le message à bien été supprimer.
  </p>

  <p>
    <a href="{{ path('esiea_blog_homepage') }}" class="btn btn-default">
      Retour
    </a>
  </p>
</div>
{% endblock %}