
{% extends "::base.html.twig" %}

{% block title %}
  Lecture du Post - {{ parent() }}
{% endblock %}

{% block body %}
  <div style="width:auto; text-align:center">


<div class= "container">

  <h1>Le Post a été poster aver succès! </h1>

</div>

  <p>

    <a href="{{ path('esiea_blog_homepage') }}" class="btn btn-default">
      Retour à la liste des articles

    </a>
  </p>
</div>
{% endblock %}